<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title That Girl
    %meta{:content => "mail_at_theob.me", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: controller.action_name }
    #facebook-script-init
      = render :partial => "pages/facebook_script_init", locals: { app_id: @current_app_id }
    #global-container
      = yield
